body {
  background-color: rgb(200, 199, 199);
}

#carouselExampleCaptions > div > div.carousel-item.active > div > div > h5 {
  color: black;
  font-size: 40px;
  display: flex;
}

#midBanner {
  display: flex;
  justify-content: center;
  height: 125px;
  width: 40%;
}

/* #addToCartButton {
  position: absolute;
  z-index: 100;
  right: 8rem;
  bottom: 4rem;
} */

hr {
  border: 1px solid gray;
}

/* Cards compatibility and price */
body
  > section:nth-child(5)
  > div
  > div
  > div:nth-child(3)
  > div
  > div
  > p.bg-info.d-inline-flex,
body
  > section:nth-child(5)
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > p.bg-info.d-inline,
body > section:nth-child(5) > div > div > div:nth-child(2) > div > div > p {
  font-size: 1.2rem;
  font-weight: 700;
}
/* ---------- */

.col-2 {
  color: purple;
}
