/* #navBarIcons {
  display: flex;
  justify-content: flex-end;
} */

body {
  background-color: rgb(200, 199, 199);
}
#carouselExampleCaptions > div > div.carousel-item.active > div > h5 {
  color: black;
  font-size: 40px;
  display: flex;
}

#midBanner {
  display: flex;
  justify-content: center;
  height: 125px;
  width: 40%;
}

hr {
  border: 1px solid gray;
}

body
  > section:nth-child(5)
  > div
  > div
  > div:nth-child(3)
  > div
  > p.bg-info.d-inline,
body
  > section:nth-child(5)
  > div
  > div
  > div:nth-child(4)
  > div
  > p.bg-info.d-inline,
body
  > section:nth-child(5)
  > div
  > div
  > div:nth-child(2)
  > div
  > p.bg-info.d-inline {
  font-size: 1.5rem;
  font-weight: 700;
}

/* #carouselExampleCaptions > button.btn.btn-success.text-white {
  position: absolute;
} */
